@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl font-bold leading-10;
  }
  button {
    @apply rounded outline-none border border-slate-600 hover:border-gray-50 shadow-sm bg-black hover:bg-slate-950 hover:text-gray-50 px-2 py-1 disabled:cursor-not-allowed disabled:opacity-50;
  }
  code {
    @apply block rounded p-4 my-4 bg-zinc-800 text-gray-300 whitespace-pre-wrap text-lg;
  }
  pre {
    @apply border-l-4 border-neutral-600 pt-4 my-4;
  }
}

nav .router-link-active {
  background-color: var(--color-border-hover);
  color: var(--color-heading);
}
